[Unit]
Description=Sensortag reporter
Requires=network-online.target influxdb.service
After=network-online.target influxdb.service                                    

[Service]
Environment=DEBUG=sensortag_report DB_USER=db_user_id DB_PASS=db_pass
ExecStart=/usr/bin/node /opt/sensortag_report/sensortag_report.js 
Restart=always

[Install]
WantedBy=multi-user.target
